<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Members</title>
  </head>
  <body>
    <%- include('header') %>
    <main class="members-main">
      <div class="main-wrapper">
      <p class="message hide" id="message"></p>
      <article>
        <h2>Current members of Beerclub</h2>
        <% if (!locals.message==null){%>
        <p><%=locals.message %></p>
        <%}%>
        <ul>
          <% members.forEach((member) => { %>
          <li>
            <a href="/members/<%= member._id %>"> <%= member.name%> </a>
          </li>
          <% }); %>
        </ul>
      </article>
      <article>
        <p>Sort memberslist</p>
        <br>
        <a href="/members?sort=desc"><button id="desc">Sort A-Z</button></a>
        <a href="/members?sort=asc"><button id="asc">Sort Z-A</button></a>
      </article>
    </div>
    </main>
    <%- include('footer') %>

    <script>
      const messagePara = document.getElementById("message");
      function getParams() {
        const urlParams = new URLSearchParams(location.search);
        console.log(urlParams);
        const params = Object.fromEntries(urlParams.entries());
        if (urlParams.has("deleted")) {
          document.querySelector('.message').classList.remove('hide')
          console.log(params);
          messagePara.innerHTML = `The user ${params.deleted} was ${Object.keys(
            params
          )}`;
        }
        if (urlParams.has("registered")) {
          document.querySelector('.message').classList.remove('hide')
          console.log(params);
          messagePara.innerHTML = `Welcome to Beer Club ${params.registered}!!`;
        }
        if (urlParams.has("updated")) {
          document.querySelector('.message').classList.remove('hide')
          console.log(params);
          messagePara.innerHTML = `The user ${params.updated} was updated.`;
        }
      }
      getParams();
    </script>
  </body>
</html>
